#warn{
	display:none;
	
}

input[type=color]{
	-webkit-appearance:none;
	outline:none;
}
#newmen,
#openmen{
	display:none;
	position:absolute;
	z-index:20;
	background-color:#163F5F;
	border:1 px solid #062F4F;
	color:white;
	min-width:200;
	max-width:202;
	padding:0 0 0 0;
}

#opal,
#newhead{
	width:100%;
	
	z-index:21;
	background-color:#062F4F;
	color:white;
	font-size:120%;
	
}
#widthin,
#hin{
	padding:0.3em 0.3em;
	float:right;
	-webkit-appearance:none;
	appearance:none;
	color:white;
	font-family:'Titillium Web', sans-serif;
	font-weight:lighter;
	font-size:inherit;
	background-color:#163F5F;
	border: 2px solid #062F4F; 

}
#soldone,
#gradone,
#ican,
#s1{
	font-family:'Titillium Web', sans-serif;
	font-weight:lighter;
	border:none;
	outline:none;
	color:white;
	padding: .2em 1em;
	background-color:#062F4F;
	width:50%;	
}
#soldone:hover,
#gradone:hover,
#ican:hover,
#s1:hover{
	font-family:'Titillium Web', sans-serif;
	font-weight:lighter;
	border:none;
	outline:none;
	color:#163F5F;
	padding: .2em 1em;
	background-color:white;
	width:50%;	
}
#SooryakiranDiv{
	min-height:100px;
	max-height:102px;
	min-width:100px;
	max-width:102px;
	background-color:white;
	width:100px;
	height:100px;
	border-radius:50%
}
#angdisp{
	width:100%;
	height:100%;
	background-color:white;
	border-radius:50%;
	border:none;
	
}